* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: "CANVASBOARD/images/imgg2.jpg";
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 7  0px);
}

canvas {
    border: 1px solid #ccc;
    background-color: #fff;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    cursor: pointer;
}

canvas:hover {
    cursor: url("pen.cur"), auto;
}



#tools {
    display: block;
    margin-top: 20px;
}

label {
    margin-right: 10px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
